<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/available_rooms.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <title>Document</title>
</head>
<body>
    <div id="available-rooms-container">

    </div>
    <form>
        <input name="existing-room-number" id="existing-room-number" placeholder="Room number">
        <button id="join-button" type="submit">Join</button>
        <div id="error-message-container">

        </div>
    </form>
<script type="text/javascript"  src="/javascripts/availableRooms.js"></script>
</body>
</html>