body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

#info-container {
  height: 90%;
  position: relative;
  display: none;

  #room-number {
    border: 2px solid black;
    border-radius: 33% 4% 18% 19%/4% 5% 5% 6%;
    width: 308px;
    padding: 20px;
  }
}

#players-container {
  display: flex;
  justify-content: space-between;

  .player {
    border: 2px solid black;
    border-radius: 33% 4% 18% 19%/4% 5% 5% 6%;
    padding: 20px;
    text-align: center;

    p {
      margin: 0;
    }
  }
}

.game-field-container {
  display: none;
  grid-template-columns: repeat(3, 262px);
  grid-template-rows: repeat(3, 262px);
  align-items: stretch;
}


button {
  background: transparent;
  width: 308px;
  padding: 20px;
}

.go-home-button {
  border: 2px solid black;
  border-radius: 82% 1% 97% 1%/4% 95% 5% 96%;
  position: absolute;
  bottom: 25px;
}


.square {
  position: relative;

  img {
    position: absolute;
    top: 25%;
    left: 19%;
  }

  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8) {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
  }

  &:nth-child(2) {
    border-radius: 4% 3% 0% 0%/59% 85% 24% 18%;
  }

  &:nth-child(4) {
    border-radius: 34% 0% 0% 34%/2% 57% 80% 2%;
  }

  &:nth-child(6) {
    border-radius: 34% 44% 43% 34%/0% 2% 3% 0%;
  }

  &:nth-child(8) {
    border-radius: 0% 0% 7% 7%/59% 85% 113% 84%;
  }
}

.invisible {
  display: none;
}
