.navigation-bar {
  display: flex;
  height: 87px;
}

.navbar-element {
  background-color: rgb(65, 16, 107);
  border: none;
  color: rgb(221, 217, 226);
  width: 165px;
  height: 100%;
  font-size: 22px;
}

.left-box, .right-box{
  width: 621px;
  height: 100%
}

.right-box {
  border-top-right-radius: 25px;
}

.left-box {
  border-top-left-radius: 25px;
}

.active {
  background-color: rgba(65, 16, 107, 0);
  border-top: 4px solid rgb(255, 87, 98);
  box-shadow: inset 0px 3px 10px 0px rgb(255, 87, 98);
}