html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    align-items: center;
    width: 100%;
}
div {
    margin: 7px;
}
.button-container {
    display: flex;
    justify-content: center;
}
.form-container, .form-container div {
    width: 100%;
}
label {
    width: 200px;
    display: block;
    margin: auto;
}
input {
    margin: auto;
    width: 200px;
    transition: width 2s;
    display: block;
}
input:hover {
    width: 400px;
}
.button {
    width: 208px;
}

.button:hover {
    color: blueviolet;
}

